---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%e %B %Y" }}
  </div>
  <a href="https://r.kraken.com/c/2649662/696558/10583" target="_top" id="696558"><img src="//a.impactradius-go.com/display-ad/10583-696558" border="0" alt="" width="728" height="90"/></a><img height="0" width="0" src="https://imp.pxf.io/i/2649662/696558/10583" style="position:absolute;visibility:hidden;" border="0" />
  {% include disqus.html %}
</article>
